/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}
#site-header {
  margin-bottom: 1em;
}

#footer-region,
.column,
.comment,
 {
  margin-bottom: 1.5em;
}

.node {padding-bottom:25px;}

#branding {height: 280px; 
	background: url(../images/green_ninesixty_logo.jpg) no-repeat;}

#imagesforheader {height: 100px; 
	border: 2px solid #999;
	 margin-top: 170px; 
	background-image:url(../images/littleimagesforbanner.jpg);}	
	
#site-subheader {
	background: url(../images/subbanner.png) no-repeat;}

#footer {
	background: url(../images/subbanner3.png) no-repeat;}
	/* footer & subheader extended beyond the grid, but no-repeat keeps image to 960 */

#site-subheader {height: 30px; 
		padding-top: 5px;}

#mission {padding-top: 30px;}		

	
#sidebar-left	{padding-top:1.75em;
		padding-bottom: 20em;
		background-image: url(../images/subbanner2.jpg);}

#page {background-color:#fff;}

#main {padding-top: 1em; 
	background-color:#fff; 
	text-align: justify;}
	
.block {padding-bottom:10px;}	

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}
