/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name { margin-bottom: 0;}

#site-header { margin-bottom: .5em;
	background: url(../images/blacklogo2.png) no-repeat;
	height: 		405px;}

#footer-region,
.comment { margin-bottom: 1.5em;}

#branding { height:0px;

	/* height was 40;
	
	background: url(../images/logoGLW.jpg) no-repeat;*/
	
	}


#site-subheader {
	padding-top: 	20px;
	padding-bottom:	5px;
	margin-bottom: 	10px;

	}
	
#search {color:#fff; font-size:10px;}		
			
#footer {
	background: url(../images/footerimage.jpg) no-repeat;}
	/* footer & subheader extended beyond the grid, but no-repeat keeps image to 960 */

#mission {
	margin-top: 15px;
	color:#fff;}		

#sidebar-right	{
	padding-top:	.5em;
	}
#service, #links{padding-top:340px;}	

#page {background-color: #fff;}

#main {
	padding-top: 		2.2em;
	background-color:	#fff; 
	text-align: 		justify;}
	
#main-content{padding-bottom: 10px;}

.more {padding-top: 0px;
		float:right;
		font-size:10px;}
	
		

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}


#border1, #border2, #border3 {
	word-spacing: .2px;
	letter-spacing: .75px;	
	padding-bottom:20px;
	padding-top:0px;
	}

#border {text-align:justify;
		padding-bottom:25px;}

#sub {padding-bottom:0px;}	

	

